name: Publish

on:
  push:
    tags: [ "**" ]

env:
  RUST_LOG: debug
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: "1"
  RUSTFLAGS: "-D warnings"
  CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-20.04

    steps:
      - uses: ./.github/actions/install-sys-deps
        with:
          version: GraphicsMagick-1_3_20

      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust Stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Cargo publish graphicsmagick-sys
        uses: actions-rs/cargo@v1
        with:
          command: publish
          args: --manifest-path graphicsmagick-sys/Cargo.toml
        continue-on-error: true

      - name: Delay
        run: sleep 20

      - name: Cargo publish graphicsmagick
        uses: actions-rs/cargo@v1
        with:
          command: publish
          args: --manifest-path graphicsmagick/Cargo.toml
