name: Rust

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - "**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  RUST_BACKTRACE: 1
  RUST_LOG: debug
  RUSTFLAGS: "-D warnings"
  NIGHTLY: nightly-2025-06-09

jobs:
  fmt-and-clippy:
    name: formatting and clippy

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: ./.github/actions/install-sys-deps
        with:
          version: GraphicsMagick-1_3_20

      - name: Rustup
        run: |
          rustup component add clippy
          rustup toolchain install $NIGHTLY --allow-downgrade -c rustfmt --no-self-update

      - name: Generate Cargo.lock
        run: cargo +${{ env.NIGHTLY }} -Z minimal-versions update

      - uses: Swatinem/rust-cache@v2

      - name: Fmt
        run: cargo +${{ env.NIGHTLY }} fmt --all -- --check

      - name: Clippy
        run: cargo clippy --no-deps

  doc:
    name: Build doc
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: ./.github/actions/install-sys-deps
        with:
          version: GraphicsMagick-1_3_38

      - name: Rustup
        run: |
          rustup toolchain install $NIGHTLY --allow-downgrade --no-self-update
          rustup override set $NIGHTLY

      - name: Generate Cargo.lock
        run: cargo -Z minimal-versions update

      - uses: Swatinem/rust-cache@v2

      - name: Doc
        run: cargo rustdoc --manifest-path graphicsmagick/Cargo.toml --features v1_3_38 -- --cfg docsrs

  test:
    name: Run test

    strategy:
      fail-fast: false

      matrix:
        os:
          - ubuntu-latest
        # - macos-latest
        # - windows-latest

        flag:
          - gm-version: GraphicsMagick-1_3_40
            feature: v1_3_38
          - gm-version: GraphicsMagick-1_3_39
            feature: v1_3_38
          - gm-version: GraphicsMagick-1_3_38
            feature: v1_3_38
          - gm-version: GraphicsMagick-1_3_37
            feature: v1_3_37
          - gm-version: GraphicsMagick-1_3_36
            feature: v1_3_36
          - gm-version: GraphicsMagick-1_3_35
            feature: v1_3_35
          - gm-version: GraphicsMagick-1_3_34
            feature: v1_3_34
          - gm-version: GraphicsMagick-1_3_33
            feature: v1_3_33
          - gm-version: GraphicsMagick-1_3_32
            feature: v1_3_32
          - gm-version: GraphicsMagick-1_3_31
            feature: v1_3_31
          - gm-version: GraphicsMagick-1_3_30
            feature: v1_3_30
          - gm-version: GraphicsMagick-1_3_29
            feature: v1_3_29
          - gm-version: GraphicsMagick-1_3_28
            feature: v1_3_28
          - gm-version: GraphicsMagick-1_3_27
            feature: v1_3_27
          - gm-version: GraphicsMagick-1_3_26
            feature: v1_3_26
          - gm-version: GraphicsMagick-1_3_25
            feature: v1_3_25
          - gm-version: GraphicsMagick-1_3_24
            feature: v1_3_24
          - gm-version: GraphicsMagick-1_3_23
            feature: v1_3_23
          - gm-version: GraphicsMagick-1_3_22
            feature: v1_3_22
          - gm-version: GraphicsMagick-1_3_21
            feature: v1_3_21
          - gm-version: GraphicsMagick-1_3_20
            feature: v1_3_20

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: ./.github/actions/install-sys-deps
        with:
          version: ${{ matrix.flag.gm-version }}

      - name: Rustup
        run: |
          rustup toolchain install ${{ env.NIGHTLY }} --allow-downgrade --no-self-update

      - name: Generate Cargo.lock
        run: cargo +${{ env.NIGHTLY }} -Z minimal-versions update

      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest

      - uses: Swatinem/rust-cache@v2

      - name: Test
        run: |
          # Enable core dumps
          ulimit -c unlimited
          sudo sysctl -w kernel.core_pattern='/tmp/core.%e.%p'
          cargo nextest run --features ${{ matrix.flag.feature }}
          cargo test --doc --features ${{ matrix.flag.feature }}

      - name: Upload core dumps on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: core-dumps-${{ matrix.os }}-${{ matrix.flag.gm-version }}
          path: /tmp/core.*
          retention-days: 1
          if-no-files-found: ignore
