name: Rust

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - "**"

env:
  RUST_BACKTRACE: 1
  RUST_LOG: debug
  RUSTFLAGS: "-D warnings"
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: "sparse"
  NIGHTLY: nightly-2023-01-15

jobs:
  all:
    name: All

    strategy:
      fail-fast: false

      matrix:
        os:
          - ubuntu-20.04
        # - macos-latest
        # - windows-latest

        flag:
          - gm-version: GraphicsMagick-1_3_38
            feature: v1_3_38
          - gm-version: GraphicsMagick-1_3_37
            feature: v1_3_37
          - gm-version: GraphicsMagick-1_3_36
            feature: v1_3_36
          - gm-version: GraphicsMagick-1_3_35
            feature: v1_3_35
          - gm-version: GraphicsMagick-1_3_34
            feature: v1_3_34
          - gm-version: GraphicsMagick-1_3_33
            feature: v1_3_33
          - gm-version: GraphicsMagick-1_3_32
            feature: v1_3_32
          - gm-version: GraphicsMagick-1_3_31
            feature: v1_3_31
          - gm-version: GraphicsMagick-1_3_30
            feature: v1_3_30
          - gm-version: GraphicsMagick-1_3_29
            feature: v1_3_29
          - gm-version: GraphicsMagick-1_3_28
            feature: v1_3_28
          - gm-version: GraphicsMagick-1_3_27
            feature: v1_3_27
          - gm-version: GraphicsMagick-1_3_26
            feature: v1_3_26
          - gm-version: GraphicsMagick-1_3_25
            feature: v1_3_25
          - gm-version: GraphicsMagick-1_3_24
            feature: v1_3_24
          - gm-version: GraphicsMagick-1_3_23
            feature: v1_3_23
          - gm-version: GraphicsMagick-1_3_22
            feature: v1_3_22
          - gm-version: GraphicsMagick-1_3_21
            feature: v1_3_21
          - gm-version: GraphicsMagick-1_3_20
            feature: v1_3_20

    runs-on: ${{ matrix.os }}

    steps:
      - name: System info
        run: cat /etc/apt/sources.list

      - name: Rustup
        run: |
          rustup show
          rustup component add rustfmt clippy
          rustup toolchain install ${{ env.NIGHTLY }} --allow-downgrade -c rustfmt clippy

      - name: Dependencies
        run: |
          sudo sed -i '/^#\sdeb-src /s/^#//' "/etc/apt/sources.list"
          sudo apt-get update
          sudo apt-get build-dep -y graphicsmagick
          sudo apt-get install -y llvm-dev libclang-dev clang mercurial libfreetype6-dev

      - name: Configure caching for graphicsmagick
        id: cache-graphicsmagick
        uses: actions/cache@v3
        with:
          path: /tmp/graphicsmagick
          key: ${{ matrix.os }}-graphicsmagick-${{ matrix.flag.gm-version }}

      - name: Build GraphicsMagick
        if: steps.cache-graphicsmagick.outputs.cache-hit != 'true'
        run: |
          hg clone http://hg.code.sf.net/p/graphicsmagick/code /tmp/graphicsmagick
          cd /tmp/graphicsmagick
          hg update -r ${{ matrix.flag.gm-version }}
          ./configure
          make -j $(nproc)

      - name: Install GraphicsMagick
        run: |
          cd /tmp/graphicsmagick
          sudo make install -j $(nproc)

      - name: Info
        run: |
          gm version
          echo
          GraphicsMagick-config --cppflags --ldflags --libs

      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate Cargo.lock
        run: cargo +stable update

      - name: Configure caching for rust
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ matrix.os }}-cargo-${{ matrix.flag.gm-version }}-${{ matrix.flag.feature }}-${{ hashFiles('**/Cargo.lock') }}

      - name: Fmt
        run: cargo +${{ env.NIGHTLY }} fmt --all -- --check

      - name: Clippy
        run: cargo clippy --verbose

      - name: Test
        run: cargo test --verbose --features ${{ matrix.flag.feature }} -- --test-threads=1 --nocapture

      - name: Doc
        run: cargo +${{ env.NIGHTLY }} rustdoc --manifest-path graphicsmagick/Cargo.toml --features ${{ matrix.flag.feature }} -- --cfg docsrs
